 /* GLOBAL STYLES
-------------------------------------------------- */

.picplayer {
  position:fixed;

  background-color: rgb(51, 51, 51); /*黑灰色的背景*/
  z-index: 999;
  overflow: hidden;

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.picplayer-animate-start {
  width: 0%;  /* 宽高为0，使其隐藏 */
  height: 0%;
  left: 50%;
  top: 50%;
}
.picplayer-animate-end {
  /*display:block;*/
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 1;
}

.picplayer-content {
  width: 100%;
  height: 100%;
}

.picplayer-control-header {
  z-index: 101;
  position: absolute;
  left: 0px;

  width: 100%;
  height: 40px;
  border-bottom: 1px solid #343536;
  background: #1C1D1E;
}
.picplayer-control-close{
  float: left;
  font-size: 32px;
  /*鼠标变成小手*/
  cursor: pointer;
}
.picplayer-control-close > .glyphicon-share-alt{
  transform:rotate(230deg);
  -ms-transform:rotate(230deg); /* Internet Explorer */
  -moz-transform:rotate(230deg); /* Firefox */
  -webkit-transform:rotate(230deg); /* Safari 和 Chrome */
  -o-transform:rotate(230deg); /* Opera */
}

.picplayer-control-next,
.picplayer-control-last {
  width: 15%;
  height: 100%;

  /*使箭头变成白色*/
  font-size: 64px;
  color: #bbb;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;    

  /*鼠标变成小手*/
  cursor: pointer;
}

.picplayer-control-last {
  z-index: 100;
  position: absolute;
  left: 0px;

  /*灰色渐变背景*/
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;

}

.picplayer-control-next {
  z-index: 100;
  position: absolute;
  right: 0px;

  /*灰色渐变背景*/
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

/*使箭头垂直居中*/
.picplayer-control-last .glyphicon,
.picplayer-control-next .glyphicon {
  position: absolute;
  top: 50%;
}
.picplayer-control-last .glyphicon {
  left: 20%;
}
.picplayer-control-next .glyphicon {
  right: 20%;
}

.picplayer-control-next:hover,
.picplayer-control-last:hover,
.picplayer-control-close:hover {
  color: #fff;
  text-shadow: 1px 1px 30px rgba(0,0,0,1);
}

.picplayer-control-commmentlist-wrap {
  height: 100%;
  overflow: auto;
  padding: 10px;

  /*未测试出此 overflow-scrolling 的实际效果，暂时注释掉*/
  /*-webkit-overflow-scrolling: touch;*/
          /*overflow-scrolling: touch;*/
}

.picplayer-control-comments {
  z-index: 102;
  position: absolute;

  right: -40%;
  width: 40%;
  height: 100%;

/*  border-bottom: 1px solid #343536;
  background: #111;*/
  background-color: rgba(0,0,0, 0.8);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;

}

.picplayer-control-comments-show {
  right: 0px;
}

@media (max-width: 767px) {
  .picplayer-control-comments {
    left: 100%;
    right: -100%;
    width: auto;
  }
  .picplayer-control-comments-show {
    left: 53px;
    right: 0px;
    width: auto;
  }
}


.picplayer-control-comments > .comments-button {
  z-index: 102;
  position: absolute;
  margin-top: 10px;
  height: 20px;
  width: 50px;
  top: 0px;
  left: -53px;
}

/**
 * @brief 画布
 */
.picplayer-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.picplayer-canvas > div.item,
.picplayer-canvas > div.item > ul {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.picplayer-canvas > div.item > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.picplayer-canvas > div.item > ul > li {
  /*display: inline-block;*/
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.left_img {
  z-index: 1;
}

.middle_img {
  z-index: 2;
}

.right_img {
  z-index: 1;
}

.picplayer-canvas > div.item > ul > li > img {
  position: absolute;

/*
  min-height: 100%;
  min-width: 100%;
*/
  max-height: 100%;
  max-width: 100%;

  bottom: 50%;
  right: 50%;
  
  margin: 0;
  padding: 0;

  -webkit-transform: translateX(50%) translateY(50%);
     -moz-transform: translateX(50%) translateY(50%);
      -ms-transform: translateX(50%) translateY(50%);
       -o-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%);
}

.picplayer-canvas > div.item > .info {
  z-index: 2;
  width: 100%;
  height: auto;
    
  position:absolute;
  bottom: 0px;
  left: 0px;

  margin: 0;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-style: italic;
  padding: 5px;
  background: rgba(51, 51, 51, 0.5);
}

.picplayer-canvas > div.item > .info > .page {
  font-size: 20px;
  color: #A5A5A5;
  float: right;
  display: inline-block;
  line-height: 40px;
}

.picplayer-canvas > div.item > .info > .page > .current {
  color: #BB2C34;
  font-size: 26px;
}

.picplayer-process {
  width: 98%;
  height: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;

  position:absolute;
  bottom: 0px;
  background-color: black; /* 黑灰色的背景 */

  display: inline-block;
  vertical-align: middle;
}

.picplayer-process > ol {
  list-style: none;
  margin: 0px;
  padding: 0px;

  position: absolute;
}

.picplayer-process > ol > li {
  position: absolute;
}

.hidden_element {
  opacity: 0;
  /* transition: <property> <duration> <timing-function> <delay>;*/
  transition: opacity 1s ease 0s;
}
