.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}

.icon-panel{
	background:url('icons/panel.png') no-repeat center center;
}

.icon-home{
	background:url('icons/home.png') no-repeat center center;
}

.icon-module{
	background:url('icons/delicious.png') no-repeat center center;
}

.icon-check{
	background:url('icons/check.png') no-repeat center center;
}

.icon-plus{
	background:url('icons/plus.png') no-repeat center center;
}

.icon-collaboration{
	background:url('icons/collaboration.png') no-repeat center center;
}

.icon-status{
	background:url('icons/status.png') no-repeat center center;
}

.icon-networking{
	background:url('icons/networking.png') no-repeat center center;
}

.icon-firewall{
	background:url('icons/firewall.png') no-repeat center center;
}

.icon-user{
	background:url('icons/user.png') no-repeat center center;
}

.icon-users{
	background:url('icons/users.png') no-repeat center center;
}

.icon-computer{
	background:url('icons/computer.png') no-repeat center center;
}

.icon-computers{
	background:url('icons/computers.png') no-repeat center center;
}

.icon-current-work{
	background:url('icons/current-work.png') no-repeat center center;
}
.span-icon-style{
	width:0px; height:0px; padding: 8px;
}

.icon-object{
	background:url('icons/object.png') no-repeat center center;
}

.icon-policy{
	background:url('icons/policy.png') no-repeat center center;
}

.icon-settings{
	background:url('icons/settings.png') no-repeat center center;
}

.icon-datacenter{
	background:url('icons/statistics.png') no-repeat center center;
}

.icon-track{
	background:url('icons/track.png') no-repeat center center;
}

.icon-photography{
	background:url('icons/photography.png') no-repeat center center;
}

.icon-folder{
	background:url('icons/folder.png') no-repeat center center;
}

.icon-featured{
	background:url('icons/featured.png') no-repeat center center;
}

.icon-refresh{
	background:url('icons/refresh.png') no-repeat center center;
}

.icon-config{
	background:url('icons/config.png') no-repeat center center;
}

.icon-computer{
	background:url('icons/computer.png') no-repeat center center;
}

.icon-computers{
	background:url('icons/computers.png') no-repeat center center;
}

.icon-dashboard-save{
	background:url('icons/dashboard-save.png') no-repeat center center;
}

.icon-logout{
	background:url('icons/logout.png') no-repeat center center;
}

.icon-right{
	background:url('icons/right.png') no-repeat center center;
}

.icon-attibutes{
	background:url('icons/attibutes.png') no-repeat center center;
}

.icon-stop{
	background:url('icons/stop.png') no-repeat center center;
}

.icon-delete{
	background:url('icons/delete.png') no-repeat center center;
}

.icon-star{
	background:url('icons/star.png') no-repeat center center;
}

.icon-special-offer{
	background:url('icons/special-offer.png') no-repeat center center;
}

.icon-arrow-up{
	background:url('icons/arrow-up.png') no-repeat center center;
}

.icon-arrow-down{
	background:url('icons/arrow-down.png') no-repeat center center;
}

.icon-upcoming-work{
	background:url('icons/upcoming-work.png') no-repeat center center;
}

.icon-entry{
	background:url('icons/entry.png') no-repeat center center;
}

.icon-role{
	background:url('icons/role.png') no-repeat center center;
}

.icon-userbanned{
	background:url('icons/userbanned.png') no-repeat center center;
}

.icon-import{
	background:url('icons/import.png') no-repeat center center;
}

.icon-export{
	background:url('icons/export.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-large-logout{
	background:url('icons/large_logout.png') no-repeat center center;
}
